[submodule "third_party/mujoco_menagerie"]
	path = third_party/mujoco_menagerie
	url = https://github.com/deepmind/mujoco_menagerie.git
[submodule "third_party/DynamixelSDK"]
	path = third_party/DynamixelSDK
	url = https://github.com/ROBOTIS-GIT/DynamixelSDK.git
[submodule "airo-mono"]
	path = airo-mono
	url = git@github.com:airo-ugent/airo-mono.git
[submodule "lerobot"]
	path = lerobot
	url = https://github.com/tlpss/lerobot.git