# keep in alphabetical order
dm_control
Pillow
pygame
pyspacemouse
PyQt6
pyquaternion
pyrealsense2
pure-python-adb
quaternion
tyro
ur-rtde
zmq
xarm
xarm-python-sdk
numpy-quaternion
termcolor

-e airo-mono/airo-typing
-e airo-mono/airo-spatial-algebra
-e airo-mono/airo-dataset-tools
-e airo-mono/airo-camera-toolkit

